<%- include('../partials/header') %>

<h1>Your Mesocycles</h1>
<% mesocycles.forEach((m) => { %>
  <label><%= m.attribute %>, started on <%= m.startDate %></label>
  <form action="mesocycles/<%= m._id %>?_method=PUT" method="POST">
    <label>Attribute</label>
    <input type="text" name="attribute" required>
    <label>Length (Weeks)</label>
    <input type="number" name="length" required>
    <input type="date" name="startDate" required>
    <button>Update</button>
  </form><br>
  <form action="mesocycles/<%= m._id %>?_method=DELETE" method="POST">
    <button>X</button>
  </form><hr>
<% }) %>

<%- include('../partials/footer') %>