<%- include('../partials/header') %>

<h1>Your Mesocycles</h1>
<a href="/users/<%= user._id %>">Back</a>
<a href="/users/<%= user._id %>/mesocycles/new">Add</a><hr>
<% for(let i = user.mesocycles.length - 1; i >= 0; i--) { %>
  <h3><%= i === user.mesocycles.length - 1 && user.mesocycles[i].active ? 'Current Mesocycle' : `Mesocyle: ${user.mesocycles[i].startDate}` %></h3>
  <a href="/users/<%= user._id %>/mesocycles/<%= user.mesocycles[i]._id %>">Details</a>
  <ul class="mesocycle-index">
    <li><%= user.mesocycles[i].attribute %></li>
    <li><%= user.mesocycles[i].length %> Weeks Long</li>
  </ul>
  <% if(i === user.mesocycles.length - 1 && user.mesocycles[i].active) { %>
    <a href="/users/<%= user._id %>/mesocycles/<%= user.mesocycles[i]._id %>/sessions/new">Add Session</a>
    <form action="/users/<%= user._id %>/mesocycles" method="DELETE">
      <button>End</button>
    </form>
  <% } %>
<% } %>

<%- include('../partials/footer') %>