<%- include('../partials/header') %>

<h1>Mesocycle <%= mesocycle._id %> <%= mesocycle.active ? 'ACTIVE' : '' %></h1>
<a href="/users/<%= user._id %>/mesocycles">Back</a><hr>
<h2>Training: <%= mesocycle.attribute %></h2>
<ul>
  <li>Length: <%= mesocycle.length %> Weeks</li>
</ul>
<h3>Sessions</h3>

<%- include('../partials/footer') %>