<%- include('../partials/header') %>

<div class="view" id="sessions-new-page">
  <div class="generic-page-nav">
    <h1>Add a <%= mesocycle.attribute %> Session</h1>
    <a href="/mesocycles/<%= params.mid %>/sessions">Back</a><hr>
  </div>
  <form action="/mesocycles/<%= params.mid %>/sessions" method="POST">
    <label>Description:</label>
    <br>
    <textarea class="session-description-input" type="text" name="description" required></textarea>
    <br>
    <label>Date:</label>
    <br>
    <input type="date" name="date" required>
    <br>
    <button class="save-button">Save</button>
  </form>
</div>

<%- include('../partials/footer') %>