<%- include('../partials/header.ejs') %>

<h1>You</h1>
<section>
  <h3><%= user.mesocycles.length > 0 ? `Currently Training: ${user.mesocycles[user.mesocycles.length - 1].attribute}` : 'No Mesocycles...' %></h3>
  <form action="/users/<%= user._id %>/mesocycles" method="GET">
    <button>View</button>
  </form>
</section>
<section>
  <h3><%= user.mesocycles.length > 0 ? 'Last Session' : 'No Sessions or Mesocycles' %></h3>
</section>

<%- include('../partials/footer.ejs') %>