<%- include('../partials/header.ejs') %>

<div id="user-show-page">
  <img src="<%= user.avatar %>" id="avatar">
  <h1><%= user.name %></h1>
  <p><%= user.bio %></p>
  <p><%= user.email %></p>
  <form action="/users/<%= user._id %>/edit">
    <button id="edit-profile-button">Edit Profile</button>
  </form>
</div>

<%- include('../partials/footer.ejs') %>