<%- include('../partials/header.ejs') %>

<img src="<%= user.avatar %>">
<h1><%= user.name %></h1>
<h3>Bio</h3>
<p><%= user.bio %></p>
<% if(canEdit) { %>
  <form>
    <button>Edit</button>
  </form>
<% } %>
<h3>Email</h3>
<p><%= user.email %></p>

<%- include('../partials/footer.ejs') %>