<%- include('../partials/header.ejs') %>

<img src="<%= user.avatar %>">
<h3>Avatar Link</h3>
<form action="/users/<%= user._id %>?_method=PUT" method="POST">
  <input type="text" name="avatar">
</form>
<h1><%= user.name %></h1>
<h3>Bio</h3>
<p><%= user.bio %></p>
<form action="/users/<%= user._id %>?_method=PUT" method="POST">
  <textarea name="bio"></textarea>
</form>
<h3>Email</h3>
<p><%= user.email %></p>

<%- include('../partials/footer.ejs') %>