<%- include('../partials/header.ejs') %>

<h1>You</h1>
<section>
  <% if(user.mesocycles.length > 0 && user.mesocycles[user.mesocycles.length - 1].active) { %>
    <h3><%= user.mesocycles[user.mesocycles.length - 1].active ? `Currently Training: ${user.mesocycles[user.mesocycles.length - 1].attribute}` : 'Add'%></h3>
  <% } %>
  <form action="/users/<%= user._id %>/mesocycles" method="GET">
    <button>View</button>
  </form>
</section>
<section>
  <h3><%= user.mesocycles.length > 0 ? 'Last Session' : 'No Sessions or Mesocycles' %></h3>
</section>

<%- include('../partials/footer.ejs') %>